#app {
  height: 100vh;
  overflow: hidden;
}
.pointer {
  cursor: pointer;
}
.box-module-shadow {
  box-shadow: var(--box-shadow);
}
.table-column-menu .ant-dropdown-menu-title-content {
  display: flex;
  justify-content: space-between;
}
.options {
  text-align: right;
  margin-bottom: 10px;
}
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  cursor: pointer;
}
::-webkit-scrollbar-track-piece {
  background-color: transparent;
  -webkit-border-radius: 10px;
}
::-webkit-scrollbar-thumb:vertical {
  background-color: var(--scroll-bar-color);
  -webkit-border-radius: 10px;
}
::-webkit-scrollbar-thumb:horizontal {
  background-color: var(--scroll-bar-color);
  -webkit-border-radius: 10px;
}
::-webkit-scrollbar-thumb:vertical:hover,
::-webkit-scrollbar-thumb:horizontal:hover {
  background-color: var(--scroll-bar-color);
}
